In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('HRDataset_v14.csv')

In [3]:
df.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   MarriedID                   311 non-null    int64
 3   MaritalStatusID             311 non-null    int64
 4   GenderID                    311 non-null    int64
 5   EmpStatusID                 311 non-null    int64
 6   DeptID                      311 non-null    int64
 7   PerfScoreID                 311 non-null    int64
 8   FromDiversityJobFairID      311 non-null    int64
 9   Salary                      311 non-null    int64
 10  Termd                       311 non-null    int64
 11  PositionID                  311 non-null    int64
 12  Position                    311 non-null    object
 13  State                       311 non-null    object
 14  Zip                         311 non-null    int64
 15  DOB                         311 non-null    object
 16  Sex                         311 non-null    object
 17  MaritalDesc                 311 non-null    object
 18  CitizenDesc                 311 non-null    object
 19  HispanicLatino              311 non-null    object
 20  RaceDesc                    311 non-null    object
 21  DateofHire                  311 non-null    object
 22  DateofTermination           104 non-null    object
 23  TermReason                  311 non-null    object
 24  EmploymentStatus            311 non-null    object
 25  Department                  311 non-null    object
 26  ManagerName                 311 non-null    object
 27  ManagerID                   303 non-null    float64
 28  RecruitmentSource           311 non-null    object
 29  PerformanceScore            311 non-null    object
 30  EngagementSurvey            311 non-null    float64
 31  EmpSatisfaction             311 non-null    int64
 32  SpecialProjectsCount        311 non-null    int64
 33  LastPerformanceReview_Date  311 non-null    object
 34  DaysLateLast30              311 non-null    int64
 35  Absences                    311 non-null    int64
dtypes: float64(2), int64(16), object(18)
memory usage: 87.6+ KB

In [5]:
cols_eliminar=['MarriedID','MaritalStatusID','EmpStatusID','DeptID','FromDiversityJobFairID','Zip','CitizenDesc','HispanicLatino','RaceDesc','ManagerName','ManagerID','DaysLateLast30']

In [7]:
df_clean=df.drop(cols_eliminar,axis=1)

In [8]:
df_clean.head()

,Employee_Name,EmpID,GenderID,PerfScoreID,Salary,Termd,PositionID,Position,State,DOB,...,TermReason,EmploymentStatus,Department,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,Absences
0,"Adinolfi, Wilson K",10026,1,4,62506,0,19,Production Technician I,MA,07/10/83,...,N/A-StillEmployed,Active,Production,LinkedIn,Exceeds,4.60,5,0,1/17/2019,1
1,"Ait Sidi, Karthikeyan",10084,1,3,104437,1,27,Sr. DBA,MA,05/05/75,...,career change,Voluntarily Terminated,IT/IS,Indeed,Fully Meets,4.96,3,6,2/24/2016,17
2,"Akinkuolie, Sarah",10196,0,3,64955,1,20,Production Technician II,MA,09/19/88,...,hours,Voluntarily Terminated,Production,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,3
3,"Alagbe,Trina",10088,0,3,64991,0,19,Production Technician I,MA,09/27/88,...,N/A-StillEmployed,Active,Production,Indeed,Fully Meets,4.84,5,0,1/3/2019,15
4,"Anderson, Carol",10069,0,3,50825,1,19,Production Technician I,MA,09/08/89,...,return to school,Voluntarily Terminated,Production,Google Search,Fully Meets,5.00,4,0,2/1/2016,2

In [9]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   GenderID                    311 non-null    int64
 3   PerfScoreID                 311 non-null    int64
 4   Salary                      311 non-null    int64
 5   Termd                       311 non-null    int64
 6   PositionID                  311 non-null    int64
 7   Position                    311 non-null    object
 8   State                       311 non-null    object
 9   DOB                         311 non-null    object
 10  Sex                         311 non-null    object
 11  MaritalDesc                 311 non-null    object
 12  DateofHire                  311 non-null    object
 13  DateofTermination           104 non-null    object
 14  TermReason                  311 non-null    object
 15  EmploymentStatus            311 non-null    object
 16  Department                  311 non-null    object
 17  RecruitmentSource           311 non-null    object
 18  PerformanceScore            311 non-null    object
 19  EngagementSurvey            311 non-null    float64
 20  EmpSatisfaction             311 non-null    int64
 21  SpecialProjectsCount        311 non-null    int64
 22  LastPerformanceReview_Date  311 non-null    object
 23  Absences                    311 non-null    int64
dtypes: float64(1), int64(9), object(14)
memory usage: 58.4+ KB

In [10]:
df_clean.isnull().sum()

Employee_Name                   0
EmpID                           0
GenderID                        0
PerfScoreID                     0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
DOB                             0
Sex                             0
MaritalDesc                     0
DateofHire                      0
DateofTermination             207
TermReason                      0
EmploymentStatus                0
Department                      0
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
Absences                        0
dtype: int64

In [11]:
df_clean['DOB'] = pd.to_datetime(df_clean['DOB'])

In [13]:
df_clean['DOB'].dtypes

dtype('<M8[ns]')

In [14]:
df_clean['DateofHire'] = pd.to_datetime(df_clean['DateofHire'])

In [15]:
df_clean['DateofTermination'] = pd.to_datetime(df_clean['DateofTermination'])

In [32]:
df_clean['Department']=df_clean['Department'].apply(lambda x:x.strip())

In [24]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   GenderID                    311 non-null    int64
 3   PerfScoreID                 311 non-null    int64
 4   Salary                      311 non-null    int64
 5   Termd                       311 non-null    int64
 6   PositionID                  311 non-null    int64
 7   Position                    311 non-null    object
 8   State                       311 non-null    object
 9   DOB                         311 non-null    datetime64[ns]
 10  Sex                         311 non-null    object
 11  MaritalDesc                 311 non-null    object
 12  DateofHire                  311 non-null    datetime64[ns]
 13  DateofTermination           104 non-null    datetime64[ns]
 14  TermReason                  311 non-null    object
 15  EmploymentStatus            311 non-null    object
 16  Department                  311 non-null    object
 17  RecruitmentSource           311 non-null    object
 18  PerformanceScore            311 non-null    object
 19  EngagementSurvey            311 non-null    float64
 20  EmpSatisfaction             311 non-null    int64
 21  SpecialProjectsCount        311 non-null    int64
 22  LastPerformanceReview_Date  311 non-null    object
 23  Absences                    311 non-null    int64
dtypes: datetime64[ns](3), float64(1), int64(9), object(11)
memory usage: 58.4+ KB

In [19]:
df_clean['RecruitmentSource'].unique()

array(['LinkedIn', 'Indeed', 'Google Search', 'Employee Referral',
       'Diversity Job Fair', 'On-line Web application', 'CareerBuilder',
       'Website', 'Other'], dtype=object)

In [33]:
df_clean['Department'].unique()

array(['Production', 'IT/IS', 'Software Engineering', 'Admin Offices',
       'Sales', 'Executive Office'], dtype=object)

In [34]:
df_clean['PerformanceScore'].unique()

array(['Exceeds', 'Fully Meets', 'Needs Improvement', 'PIP'], dtype=object)

In [35]:
df_clean['PerfScoreID'].unique()

array([4, 3, 2, 1], dtype=int64)

In [36]:
df_clean['EmploymentStatus'].unique()

array(['Active', 'Voluntarily Terminated', 'Terminated for Cause'],
      dtype=object)

In [42]:
def estatus(var):
    
    if var =='Active':  
        return 'Active'
    elif var =='Terminated for Cause':
        return 'Baja'
    elif var =='Voluntarily Terminated':
        return 'Baja'
    else:
        return 0
    
"Esta funcion va agregar una nueva columna y va agregar el estatus activo en caso de que el colaborador siga activo o el estatus de baja si el colaborador ya es baja"

In [43]:
df_clean['Status']=df_clean['EmploymentStatus'].apply(estatus)

In [44]:
df_clean.head()

,Employee_Name,EmpID,GenderID,PerfScoreID,Salary,Termd,PositionID,Position,State,DOB,...,EmploymentStatus,Department,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,Absences,Status
0,"Adinolfi, Wilson K",10026,1,4,62506,0,19,Production Technician I,MA,1983-07-10,...,Active,Production,LinkedIn,Exceeds,4.60,5,0,1/17/2019,1,Active
1,"Ait Sidi, Karthikeyan",10084,1,3,104437,1,27,Sr. DBA,MA,1975-05-05,...,Voluntarily Terminated,IT/IS,Indeed,Fully Meets,4.96,3,6,2/24/2016,17,Baja
2,"Akinkuolie, Sarah",10196,0,3,64955,1,20,Production Technician II,MA,1988-09-19,...,Voluntarily Terminated,Production,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,3,Baja
3,"Alagbe,Trina",10088,0,3,64991,0,19,Production Technician I,MA,1988-09-27,...,Active,Production,Indeed,Fully Meets,4.84,5,0,1/3/2019,15,Active
4,"Anderson, Carol",10069,0,3,50825,1,19,Production Technician I,MA,1989-09-08,...,Voluntarily Terminated,Production,Google Search,Fully Meets,5.00,4,0,2/1/2016,2,Baja

In [45]:
df_clean['Status'].unique()

array(['Active', 'Baja'], dtype=object)

In [50]:
pivote=pd.pivot_table(df_clean, index=['Status', 'PerformanceScore'], aggfunc={'Employee_Name':'count'})
pivote

                          Employee_Name
Status PerformanceScore
Active Exceeds                       29
       Fully Meets                  162
       Needs Improvement              8
       PIP                            8
Baja   Exceeds                        8
       Fully Meets                   81
       Needs Improvement             10
       PIP                            5

In [51]:
df_clean.to_csv('HRDatasetClean.csv')

In [52]:
pivote.to_csv('Pivote_Bajas.csv')